@tailwind base;
@tailwind components;
@tailwind utilities;
/* font    */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* roots  */
:root {
    --primary : #000000; 
    --secondary : #F33F3F;
    --default : #E1E1E1;
    --btnvariant : #ECBFC0;
    --btnvariant1 : #1F1F1F;

}
